<!DOCTYPE html>
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="agency, ecommerce">
        <meta name="author" content="Md. Siful Islam, Jtheme">

        <title>Vetrov</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="assets/ico/favicon.ico">

        <!-- Font Icon -->
        <link href="assets/css/plugin/font-awesome.min.css" rel="stylesheet" type="text/css">  

        <!-- CSS Global -->
        <link rel='stylesheet' href='assets/css/plugin/bootstrap.min.css'>
        <link rel='stylesheet' href='assets/css/plugin/bootstrap-select.min.css'>
        <link rel='stylesheet' href='assets/css/plugin/datepicker.css'>
        <link rel='stylesheet' href='assets/css/plugin/owl.carousel.min.css'>        
        <link rel='stylesheet' href='assets/css/plugin/animate.css'>        
        <link href="assets/css/plugin/magnify.css" rel="stylesheet" type="text/css">  
          

        <!-- Custom CSS -->
        <link href="assets/css/style.css" rel="stylesheet" type="text/css">
        

        <!-- Color CSS --> 
        <link href="assets/css/multicolors/theme-color.css" rel="stylesheet" id="theme-config-link">

        <!--[if lt IE 9]>
        <script src="assets/js/plugin/html5shiv.js"></script>
        <script src="assets/js/plugin/respond.js"></script>
        <![endif]-->        
    </head>

    <body id="home" class="wide new-design">
        <!-- WRAPPER -->
        <main class="wrapper"> 

        <div class="venues-list p-bottom-100">
            <!-- CONTENT AREA -->
            <article>
               <!-- Main Header-1 Start -->
                <header class="main-header">
                    <div class="header-fix-wrap header-1">
                        <div class="container rel-div">
                            <div class="logo">
                                <a href="index.html">  <img alt="" src="assets/images/logo/logo-1.png" /> </a>
                            </div>                
                            <div class="responsive-toggle fa fa-bars"> </div>
                            <div class="col-lg-4 col-md-4 col-sm-8">
                            <div class="top-search">
                             <form class="search-form" method="post">
                                        <div class="form-group">
                                        <div class="row">
                                            <input class="form-control border" placeholder="Search for your Venue/Event..." type="text">                                                    
                                       <i class="fa fa-search"></i>
                                        </div>
                                        </div>   
                                                                   
                                    </form>
                            </div>
                            </div>
                            <!-- Main Header Start -->
                            <div class="menu-bar">  
                                <div class="responsive-toggle fa fa-bars"> </div>
                                <nav id="primary-navigation">            
                                    <ul class="primary-navbar">  
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >
                                            Venues</a>
                                             <ul class="dropdown-menu"> 
                                                <li><a href="#"> Function Halls </a></li>  
                                                <li><a href="#"> Grounds </a></li> 
                                                <li><a href="#"> Corporate Halls </a></li>
                                            </ul>
                                        </li>                         
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >
                                            Events
                                            </a>
                                            <ul class="dropdown-menu"> 
                                                <li><a href="#"> Wedding </a></li>  
                                                <li><a href="#"> Reception </a></li> 
                                                <li><a href="#"> Birthday</a></li>
                                                <li><a href="#"> Team Dinner </a></li>
                                                <li><a href="#"> Get together </a></li>
                                                <li><a href="#"> Wedding Anniversary </a></li>
                                                <li><a href="#"> Team Outing </a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >
                                            About Us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" >
                                            Contact Us
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle="modal" data-target="#login-modal"  class="nav-link" >
                                            <i class="fa fa-user" aria-hidden="true"></i> Login
                                            </a>
                                        </li>
                                                                         
                                    </ul>
                                </nav>
                            </div>
                            <!-- / Main Header Ends -->   
                        </div>
                    </div>
                </header>
                <!-- / Main Header-1 Ends --> 

                <!-- Page Starts-->
                <!--Breadcrumb Section Start-->
                <section class="breadcrumb-bg bg-5 white-color">   
                    <div class="site-breadcumb ">  
                      
                    <div class="container ">    
                    
                        <ol class="breadcrumb breadcrumb-menubar">
                            <li> <a href="#"> Home </a> <a href="#"> Hyderabad   </a> <a href="#"> Hitech City </a> <span>Amusement Parks </span>  </li>                             
                        </ol>
                    </div>
                    </div>
                </section>
                <!--Breadcrumb Section End-->
                <section class="sec-space">
                    <div class="container"> 
                        <div class="widget-search filter-section hidden-lg hidden-md">
                        <div class="row">
                            <div class="search-selectpicker selectpicker-wrapper col-lg-6 col-md-6 col-xs-6">
                                              <a href="Javascript:void(0);" class="sort-button">Sort<i class="fa fa-long-arrow-up" aria-hidden="true"></i><i class="fa fa-long-arrow-down" aria-hidden="true"></i></a>  
                                            </div>
                                            <div class="search-selectpicker selectpicker-wrapper col-lg-6 col-md-6 col-xs-6">
                                            <a href="Javascript:void(0);" class="filter-button">Filter<i class="fa fa-filter" aria-hidden="true"></i></a>
                                            </div>
                                            </div>
                                            <div class="clearfix"></div>              
                        </div>
                        <div class="clearfix"></div>



                        <div class="row">
                            <div class="col-lg-3 col-sm-4 list-filter">
                             <div class="widget-wrap sort-wrap">
                             <a href='Javascript:void(0);' class='filter-mobile-close'><i class="fa fa-times" aria-hidden="true"></i></a>
                             <h4 class="fsz-15 "> Sort By <i class="fa fa-long-arrow-down pull-right" aria-hidden="true"></i> <i class="fa fa-long-arrow-up pull-right" aria-hidden="true"></i>
                                    <form class="search-form" method="post"></h4>
                            <select class="selectpicker form-control border" data-width="100%" data-toggle="tooltip">
                                                    <option>Sort By</option>
                                                    <option>Function Halls</option>
                                                    <option>Table Booking</option>
                                                    <option>Ammusements</option>
                                                    <option>Play Grounds</option>
                                                </select>
                                                </div>

                                <div class="widget-wrap filter-wrap">

                                <a href='Javascript:void(0);' class='filter-mobile-close'><i class="fa fa-times" aria-hidden="true"></i></a>
                                    <form class="search-form" method="post">
                                <h4 class="fsz-15 "> Filter <i class="fa fa-filter pull-right" aria-hidden="true"></i></h4>
                                            <div class="search-selectpicker selectpicker-wrapper">
                                                <select class="selectpicker form-control border" data-width="100%" data-toggle="tooltip">
                                                    
                                                    <option>Function Halls</option>
                                                    <option>Table Booking</option>
                                                    <option>Ammusements</option>
                                                    <option>Play Grounds</option>

                                                </select>
                                            </div>  
                                        
                                         <div class="search-selectpicker selectpicker-wrapper">
                                                <select class="selectpicker form-control border" data-width="100%" data-toggle="tooltip">
                                                <option>Location</option>
                                                    <option>Hyderabad</option>
                                                    <option>Secunderabad</option>
                                                    <option>Bengaluru</option>
                                                    <option>Mumbai</option>
                                                </select>
                                            </div>  
                                    
                                         <div class="search-selectpicker selectpicker-wrapper">
                                                <select class="selectpicker form-control border" data-width="100%" data-toggle="tooltip">
                                                <option>Ocassion Type</option>
                                                    <option>Marriage</option>
                                                    <option>Birthday</option>
                                                    <option>Bachelors party</option>
                                                    <option>Engagement</option>
                                                </select>
                                            </div>  
                                    
                                        <div class="search-selectpicker selectpicker-wrapper">
                                               <select class="selectpicker form-control border" data-width="100%" data-toggle="tooltip">
                                                <option>Venue Type</option>
                                                    <option>Marriage</option>
                                                    <option>Birthday</option>
                                                    <option>Bachelors party</option>
                                                    <option>Engagement</option>
                                                </select>
                                            </div>  
                                   
                                        <div class="search-selectpicker selectpicker-wrapper">
                                                <select class="selectpicker form-control border" data-width="100%" data-toggle="tooltip">
                                                <option>Peoples Capacity</option>
                                                    <option>1-100</option>
                                                    <option>100-500</option>
                                                    <option>500-1000</option>
                                                    <option>1000-1500</option>
                                                </select>
                                            </div>  
                                   
                                    <!--<div class="form-group col-sm-2">                                         
                                        <button class="theme-btn btn-2" type="submit"> Search Venue </button>
                                    </div>  -->
                                </form>
                                </div>
                               
                                
                            </div>
                            <div class="col-lg-9 style-one">
                            <div class="listing-box col-lg-12 col-xs-6">
                            <div class="listing-feature">
                            <div class="img" style="background-image: url(&quot;assets/images/gallery/370x300-1.jpg&quot;); background-size: cover;">     
                            </div>
                            </div>
                            <div class="listing-info">
                                        <div class="detail">

                                            <h2 class="fsz-20 fw-600"> Grand Hotel Pulitzer Amsterdam </h2>
                                            <p class="fsz-11 hidden-sm hidden-xs"> <i class="fa fa-map-marker theme-color"></i> 20 of 380 HOTELS IN AMSTERDAM  </p>
                                            <div class="white-color review">                                               
                                                <span class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star"></span>
                                                    <span class="star"></span>
                                                </span>
                                                <span class="fsz-12 fw-600"> 3250 REVEW </span> 
                                            </div>
                                            
                                            <ul class="list-unstyled features-ul hidden-sm hidden-xs">
                                                <li><p>Lorem ipsum dolor sit amet, velit habemus,</p></li>
                                                <li><p>Delenit pericula id est, ei cum tritani intellegam.</p></li>
                                                <li><p>Pri at adipisci ullamcorper, at sit congue.</p></li>
                                                   
                                            </ul>
                                            <ul class="list-inline amenities-ul">
                                                <li><p>Parking</p></li>
                                                <li><p>Gym</p></li>
                                                <li><p>Swimming</p></li>
                                                   
                                            </ul>
                                        </div>
                                        <div class="booking">
                                            <h2 class="fsz-20 fw-600"><span>&#8377;</span> 18,999/-</h2>
                                            <a href="#" class="fsz-11 fw-600"> <i class="fa fa-users theme-color"></i> 3 Slots Left</a>
                                           <ul class="shortlist">
                                           <li><a href=""><i class="fa fa-heart"></i> Shortlist</a></li>
                                           <li><p>Delay Booking</p></li>
                                           </ul>
                                            <form class="search-form row" method="post">
                                            
                                                <div class="form-group col-md-12 col-sm-6">                                               
                                                    <a class="theme-btn" data-width="100%" data-toggle="modal" data-target="#conditions"> Book Now </a>                                            
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                            </div>
                            <div class="listing-box col-lg-12 col-xs-6">
                            
                                   <div class="listing-feature">
                                        <div class="img" style="background-image: url(&quot;assets/images/gallery/370x300-2.jpg&quot;); background-size: cover;">
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="listing-info">
                                        <div class="detail">

                                            <h2 class="fsz-20 fw-600"> Grand Hotel Pulitzer Amsterdam </h2>
                                            <p class="fsz-11 hidden-sm hidden-xs"> <i class="fa fa-map-marker theme-color"></i> 20 of 380 HOTELS IN AMSTERDAM  </p>
                                            <div class="white-color review">                                               
                                                <span class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star"></span>
                                                    <span class="star"></span>
                                                </span>
                                                <span class="fsz-12 fw-600"> 3250 REVEW </span> 
                                            </div>
                                            
                                            <ul class="list-unstyled features-ul hidden-sm hidden-xs">
                                                <li><p>Lorem ipsum dolor sit amet, velit habemus,</p></li>
                                                <li><p>Delenit pericula id est, ei cum tritani intellegam.</p></li>
                                                <li><p>Pri at adipisci ullamcorper, at sit congue.</p></li>
                                                   
                                            </ul>
                                            <ul class="list-inline amenities-ul">
                                                <li><p>Parking</p></li>
                                                <li><p>Gym</p></li>
                                                <li><p>Swimming</p></li>
                                                   
                                            </ul>
                                        </div>
                                        <div class="booking">
                                            <h2 class="fsz-20 fw-600"><span>&#8377;</span> 18,999/-</h2>
                                            <a href="#" class="fsz-11 fw-600"> <i class="fa fa-users theme-color"></i> 3 Slots Left</a>
                                            <ul class="shortlist">
                                           <li><a href=""><i class="fa fa-heart"></i> Shortlist</a></li>
                                           <li><p>Delay Booking</p></li>
                                           </ul>
                                            <form class="search-form row" method="post">
                                            
                                                <div class="form-group col-md-12 col-sm-6">                                               
                                                    <a class="theme-btn" data-width="100%" data-toggle="modal" data-target="#conditions"> Book Now </a>                                                                                       
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                           
                                </div>
                             <div class="listing-box col-lg-12 col-xs-6">
                            <div class="listing-feature">
                            <div class="img" style="background-image: url(&quot;assets/images/gallery/370x300-4.jpg&quot;); background-size: cover;">     
                            </div>
                            </div>
                            <div class="listing-info">
                                        <div class="detail">

                                            <h2 class="fsz-20 fw-600"> Grand Hotel Pulitzer Amsterdam </h2>
                                            <p class="fsz-11 hidden-sm hidden-xs"> <i class="fa fa-map-marker theme-color"></i> 20 of 380 HOTELS IN AMSTERDAM  </p>
                                            <div class="white-color review">                                               
                                                <span class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star"></span>
                                                    <span class="star"></span>
                                                </span>
                                                <span class="fsz-12 fw-600"> 3250 REVEW </span> 
                                            </div>
                                            
                                            <ul class="list-unstyled features-ul hidden-sm hidden-xs">
                                                <li><p>Lorem ipsum dolor sit amet, velit habemus,</p></li>
                                                <li><p>Delenit pericula id est, ei cum tritani intellegam.</p></li>
                                                <li><p>Pri at adipisci ullamcorper, at sit congue.</p></li>
                                                   
                                            </ul>
                                            <ul class="list-inline amenities-ul">
                                                <li><p>Parking</p></li>
                                                <li><p>Gym</p></li>
                                                <li><p>Swimming</p></li>
                                                   
                                            </ul>
                                        </div>
                                        <div class="booking">
                                            <h2 class="fsz-20 fw-600"><span>&#8377;</span> 18,999/-</h2>
                                            <a href="#" class="fsz-11 fw-600"> <i class="fa fa-users theme-color"></i> 3 Slots Left</a>
                                            <ul class="shortlist">
                                           <li><a href=""><i class="fa fa-heart"></i> Shortlist</a></li>
                                           <li><p>Delay Booking</p></li>
                                           </ul>
                                            <form class="search-form row" method="post">
                                            
                                                <div class="form-group col-md-12 col-sm-6">                                               
                                                    <a class="theme-btn" data-width="100%" data-toggle="modal" data-target="#conditions"> Book Now </a>                                            
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                            </div>
                            <div class="listing-box col-lg-12 col-xs-6">
                            
                                   <div class="listing-feature">
                                        <div class="img" style="background-image: url(&quot;assets/images/gallery/370x300-2.jpg&quot;); background-size: cover;">
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="listing-info">
                                        <div class="detail">

                                            <h2 class="fsz-20 fw-600"> Grand Hotel Pulitzer Amsterdam </h2>
                                            <p class="fsz-11 hidden-sm hidden-xs"> <i class="fa fa-map-marker theme-color"></i> 20 of 380 HOTELS IN AMSTERDAM  </p>
                                            <div class="white-color review">                                               
                                                <span class="rating">
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star active"></span>
                                                    <span class="star"></span>
                                                    <span class="star"></span>
                                                </span>
                                                <span class="fsz-12 fw-600"> 3250 REVEW </span> 
                                            </div>
                                            
                                            <ul class="list-unstyled features-ul hidden-sm hidden-xs">
                                                <li><p>Lorem ipsum dolor sit amet, velit habemus,</p></li>
                                                <li><p>Delenit pericula id est, ei cum tritani intellegam.</p></li>
                                                <li><p>Pri at adipisci ullamcorper, at sit congue.</p></li>
                                                   
                                            </ul>
                                            <ul class="list-inline amenities-ul">
                                                <li><p>Parking</p></li>
                                                <li><p>Gym</p></li>
                                                <li><p>Swimming</p></li>
                                                   
                                            </ul>
                                        </div>
                                        <div class="booking">
                                            <h2 class="fsz-20 fw-600"><span>&#8377;</span> 18,999/-</h2>
                                            <a href="#" class="fsz-11 fw-600"> <i class="fa fa-users theme-color"></i> 3 Slots Left</a>
                                            <ul class="shortlist">
                                           <li><a href=""><i class="fa fa-heart"></i> Shortlist</a></li>
                                           <li><p>Delay Booking</p></li>
                                           </ul>
                                            <form class="search-form row" method="post">
                                            
                                                <div class="form-group col-md-12 col-sm-6">                                               
                                                    <a class="theme-btn" data-width="100%" data-toggle="modal" data-target="#conditions"> Book Now </a>                                            
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                           
                                </div>    
                               <div class="clearfix"></div>
                            </div>  
                            
                                                           
                        </div>
                    </div>
                </section>
                <!-- / Page Ends -->      
            </article>
            <!-- / CONTENT AREA -->
            </div>
           <div class="blue-line"></div>
            <div class="yellow-line"></div>
                <!-- / Popular Destination Ends -->   
                <div class="footer-bg">
                <!-- Subscribe Start -->
                <section class="newsletter">
                    <div class="">
                        <div class="container theme-color-bg">
                            <form class="newsletter-form phone">
                                <div class="col-md-10 col-sm-12">
                                    <p class="info"> <strong> Call Us </strong> to  <b>+91-999 999 9999</b> or just send us mail, we will get back to you soon... </p>
                                </div>
                                <!--<div class="col-md-7 col-sm-8">
                                    <input placeholder="Your email address" required="" class="" type="text">
                                </div>-->
                                <div class="col-md-2 col-sm-4">
                                    <button class="theme-btn btn-2" type="submit"> Get in touch with us </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <!-- / Subscribe Ends -->  
                
           
            <!-- / CONTENT AREA -->

            <!-- FOOTER -->
            <footer class="page-footer">             
                <div class="sec-space-top">
                    <div class="container">
                        <!-- Footer Logo Start -->
                        <div class="logo">
                            <a href="index.html">  <img alt="" src="assets/images/logo/logo-1.png"> </a>
                            <span>TRAVEL AGENCY</span>
                           <!-- <p>Lorem ipsum dolor sit amet consetuer adipiscing elit, sed diam nonummy dolor sit amet consetuer adipiscing elit, sed diam nonummy.</p>-->
                        </div>
                        <!-- / Footer Logo Ends -->  
                    </div>
                </div>

            <div class="container">
            <div class="tab-content feature-1">  
                            <div role="tabpanel" class="tab-pane fade in active" id="Div1">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="hotels-list">
                                            <ul class="list-unstyled">
                                                <li> <a href="#">Function Halls</a> </li>
                                                <li> <a href="#">Hotel Tables</a> </li>
                                                <li> <a href="#">Bars & Pubs</a> </li>
                                                <li> <a href="#">Resorts</a> </li>
                                                <li> <a href="#">Amusements</a> </li>
                                                <li> <a href="#">Sports</a> </li>
                                                <li> <a href="#">Movie Halls / Studios</a> </li>
                                            </ul>
                                            <h2 class="title-1 rotated-text"> <span class=""> Venues </span> </h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="hotels-list">
                                            <ul class="list-unstyled">
                                                <li> <a href="#">Weddings</a> </li>
                                                <li> <a href="#">Bithday</a> </li>
                                                <li> <a href="#">Corporate</a> </li>
                                                <li> <a href="#">Party Event</a> </li>
                                                <li> <a href="#">Dinner</a> </li>
                                                <li> <a href="#">Watch Movie</a> </li>
                                            </ul>
                                            <h2 class="title-1 rotated-text"> <span class=""> Events </span> </h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="hotels-list login">
                                            <ul class="list-unstyled">
                                                <li> 
                                                <p><i class="fa fa-users"></i> Login as User</p>
                                                <a href="#" class="btn theme-btn">Login</a> </li>
                                                <li> <hr class="divider-1" /> </li>
                                                <li> 
                                                <p><i class="fa fa-user"></i> Login as Vendor</p>
                                                <a href="#" class="btn theme-btn-yellow">Login</a> </li>
                                            </ul>
                                            <h2 class="title-1 rotated-text"> <span class=""> Vendor Or User </span> </h2>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="hotels-list contact">
                                            <ul class="list-unstyled">
                                                <li> <p><i class="fa fa-home mr-3"></i> Aperiam aliquam id vim, aliquid quaestio mei ad. An nec illum alterum expetenda, electram imperdiet eos cu.</p> </li>
                                                <li> <p><i class="fa fa-envelope mr-3"></i> info@example.com</p></li>
                                                <li>  <p><i class="fa fa-phone mr-3"></i> + 01 234 567 88</p> </li>
                                                <li>  <p><i class="fa fa-mobile mr-3"></i> +91 999 999 9999</p> </li>
                                            </ul>
                                            <a href="#" class="all-show theme-color"> Contact Us </a>
                                            <h2 class="title-1 rotated-text"> <span class=""> Contact Us </span> </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </div>
                <!-- Footer menu Start -->
                <div class="">
                    <div class="container footer-menu">

                    <div class="mt-5 mb-4">
        <!--<div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Company name</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Products</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">MDBootstrap</a>
                </p>
                <p>
                    <a href="#!">MDWordPress</a>
                </p>
                <p>
                    <a href="#!">BrandFlow</a>
                </p>
                <p>
                    <a href="#!">Bootstrap Angular</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Useful links</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contact</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> info@example.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>

        </div>-->
        <hr class="divider-1" />
    </div>
                        <ul class="primary-navbar text-center">
                            <li><a href="#"> About Us.  </a></li>
                            <li><a href="#">Write a review. </a></li>
                            <li><a href="#">  Become a member </a></li>
                            <li><a href="#"> Terms & Conditions </a></li>
                            <li><a href="#"> Privacy Policy </a></li>
                            <!--<li><a href="#">Site Map. </a></li>
                            <li><a href="#">Become an Affiliate. </a></li>
                            <li><a href="#">Travelers’ Choice. </a></li>-->
                            <li><a href="#">Help Center. </a></li>
                        </ul>
                        <hr class="divider-1" />
                    </div>
                    
                    <div class="container copyright">
                        <p class="pull-left"> <a href="index.html" class="theme-color fw-500">Smart Venue</a> ©2017 | All Right Reserved </p>

                        <div class="col-md-6 col-lg-7  text-right pull-right">
                   <ul class="social-icons-2 list-inline">
                                    <li> <a href="#" class="fa fa-facebook"></a> </li>
                                    <li> <a href="#" class="fa fa-twitter"></a> </li>
                                    <li> <a href="#" class="fa fa-google-plus"></a> </li>
                                    <li> <a href="#" class="fa fa-instagram"></a> </li>
                                </ul>
                </div>
                <div class="clearfix"></div>
                        <hr class="divider-3" /><hr class="divider-3" /><hr class="divider-3" />
                    </div>
                    
                    <div class="container disclaimer">
                    <p>
                    <strong>Disclaimer : </strong>
                    Aperiam aliquam id vim, aliquid quaestio mei ad. An nec illum alterum expetenda, electram imperdiet eos cu. Labitur eleifend complectitur ut est, ex mei elit mutat nihil. Id has viris homero intellegebat, eam nominati voluptatibus an, ne ullum doming eligendi nec. Cu pri saepe dolore noluisse. Usu et hinc timeam cotidieque, in vis dico sonet efficiantur, omnesque quaestio iudicabit eos id.

Habeo altera impedit id sed. Ne usu melius aliquam reprehendunt, has eu laudem veritus detraxit. Duo at stet audire torquatos. In ornatus liberavisse usu, modo debet id eum. Cibo impetus eu mel, ne stet erat vis.
                    </p>
                    </div>
                </div>
                <!-- / Footer Menu Ends -->  

            </footer>

            </div>
            <!-- /FOOTER -->

            <div id="to-top" class="to-top"> <i class="fa fa-angle-up"></i> </div>

        </main>
        <!-- /WRAPPER -->

        <div id="conditions" class="modal fade" role="dialog">
  <div class="modal-dialog amusement-book">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Options</h4>
        </div>
      <div class="modal-body">
      <div class="col-lg-8 center-div">
      <form class="search-form" method="post">
                                    <div class="form-group no-padding cat-filter">
                                            <div class="search-selectpicker selectpicker-wrapper">
                                                <select class="selectpicker form-control border" data-width="100%" data-toggle="tooltip">
                                                    
                                                    <option>Type Of Booking</option>
                                                    <option>Fastrack</option>
                                                    <option>Normal</option>
                                                </select>
                                            </div>  
                                        </div>
                                         <div class="form-group no-padding">
                                         <span>Adult : <span>1200/-</span> </span> <span class="pull-right">Child : <span>600/-</span></span> 
                                         </div>
                                    <div class="form-group no-padding">
                                         <div class="search-selectpicker selectpicker-wrapper">
                                               <input type="text" class="form-control" placeholder="No. Of Adults" />
                                            </div>  
                                    </div>
                                    <div class="form-group no-padding">
                                         <div class="search-selectpicker selectpicker-wrapper">
                                               <input type="text" class="form-control" placeholder="No. Of Childrens" />
                                            </div>  
                                    </div>
                                  
                                    <!--<div class="form-group col-sm-2">                                         
                                        <button class="theme-btn btn-2" type="submit"> Search Venue </button>
                                    </div>  -->
                                </form>
      </div>
      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
      <div class="pull-left">
     <h2 class="fsz-20 fw-600"><span>&#8377;</span> 18,999/-</h2>
      </div>
          <a  class="btn theme-btn pull-right" data-dismiss="modal"> Proceed to Pay</a>
        </div>
    </div>
    
  </div>
</div>
        <!-- JS Global -->
        <script src='assets/js/plugin/jquery-2.2.4.min.js'></script>
        <script src='assets/js/plugin/bootstrap.min.js'></script>
        <script src='assets/js/plugin/bootstrap-select.min.js'></script>
        <script src='assets/js/plugin/bootstrap-datepicker.js'></script>
        <script src='assets/js/plugin/owl.carousel.min.js'></script>
        <script src="assets/js/plugin/jquery.magnify.js" type="text/javascript"></script>
        
        <script src='assets/js/plugin/isotope.pkgd.min.js'></script>
        <script src="assets/js/plugin/masonry.pkgd.min.js" type="text/javascript"></script>


        <!-- Custom JS -->   
        <script src="assets/js/theme.js" type="text/javascript"></script>

        <!--[if (gte IE 9)|!(IE)]><!-->   
        <script src="assets/js/jquery.cookie.js"></script>        
        <script src="assets/js/theme-config.js"></script>
        <!--<![endif]-->

        <script>
            $(window).resize(function () {
                // This will fire each time the window is resized:
                if ($(window).width() <= 480) {
                    // if larger or equal
                    $('.filter-button').click(function () {
                        $('.list-filter').slideToggle();
                        $('.sort-wrap').hide();
                        $('.filter-wrap').show();
                        // $('.list-filter .widget-wrap').append("<a href='Javascript:void(0);' class='filter-close'>Close</a>")
                    });

                    $('.sort-button').click(function () {
                        $('.list-filter').slideToggle();
                        $('.sort-wrap').show();
                        $('.filter-wrap').hide();
                        // $('.list-filter .widget-wrap').append("<a href='Javascript:void(0);' class='filter-close'>Close</a>")
                    });
                    $('.filter-mobile-close').click(function () {
                        $('.list-filter').slideToggle();
                    });
                } else {
                    // if smaller
                    $('.category-list ul').removeAttr('id', 'content-slider');
                }
            }).resize();
        </script>


    </body>
</html>